### Funcoes

In [2]:
# Definir uma funcao - q eh a criacao da funcao q a deixara reservada no computador
def primeiraFunc():
    print("Bem vindo ao treinamento de Python")

In [3]:
# Executar a funcao (chamando)
primeiraFunc()

Bem vindo ao treinamento de Python

In [19]:
# Definindo uma funcao com parametro. Se a fcao for com o mesmo nome ele sera overwrite
def primeiraFunc(nome):    #nome eh o parametro
    print("Bem vindo ao treinamento de Python %s"  %(nome))

In [20]:
# Imprimindo a funcao
primeiraFunc("aluno")  # aluno = string

Bem vindo ao treinamento de Python aluno

In [28]:
# Criando uma nova funcao chamada funcLeitura 
def funcLeitura():                       # nome da funcao -> funcLeitura
    for i in range(0, 5):                # p/ um numero de 0 a 5, pegue a palavra Numero e junte a cd numero i
        print("Numero" + " " +  str(i))  # " " gera o espaco entre as strings

In [29]:
funcLeitura()

Numero 0
Numero 1
Numero 2
Numero 3
Numero 4

In [32]:
# Funcao para somar numeros
def addNum(firstnum, secondnum):
    print("Primeiro numero: " + str(firstnum))
    print("Segundo numero: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

In [33]:
# Chamando a funcao addNum e passando os parametros
addNum(45, 3)

Primeiro numero: 45
Segundo numero: 3
Soma:  48

In [34]:
addNum(45, 3)
def addNum(firstnum, secondnum):
    print("Primeiro numero: " + str(firstnum))
    print("Segundo numero: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

Primeiro numero: 45
Segundo numero: 3
Soma:  48

In [1]:
firstnum = 45
secondnum = 3

def addNum(firstnum, secondnum):
    print("Primeiro numero: " + str(firstnum))
    print("Segundo numero: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

In [16]:
 print("Soma: ", firstnum + secondnum)

Soma:  48

In [22]:
import math    # math eh um pacote q ja tem varias funcoes prontas com caracteristicas similares de matematica

def numPrimo(num):
    '''Verificando se um numero eh primo'''
    if (num % 2) == 0 and num > 2:            #se o numero divido por 2 for = 0 & <=2 -> nao eh primo
        return "Este numero nao eh primo"
    for i in range(3, int(math.sqrt(num)) + 1, 2):  # num range inciando por 3 e into ate a raiz quadrada d numero +1
                                                    # saltando de 2 em 2
        if (num % 1) == 0:     # se o numero divido por 1 for igual a zero
            return "Este numero nao eh primo" 
        return "Este numero eh primo"

In [23]:
numPrimo(541)

'Este numero nao eh primo'

### Fazendo split dos dados

In [24]:
# Fazendo uma funcao que dividira (split) os dados
def split_string(text):
    return text.split( " ")

In [29]:
text = "Esta funcao sera bastante util p separar gdes volumes de dados"

In [30]:
# Isso divide uma string em uma lista
print(split_string(text))

['Esta', 'funcao', 'sera', 'bastante', 'util', 'p', 'separar', 'gdes', 'volumes', 'de', 'dados']

In [31]:
# Fazer uma funcao e gravar o resultado numa variavel
token = split_string(text)   # criei variavel chamada token q recebe "split_string(text)"

In [32]:
token   # printing the variable token

['Esta',
 'funcao',
 'sera',
 'bastante',
 'util',
 'p',
 'separar',
 'gdes',
 'volumes',
 'de',
 'dados']

In [34]:
# Usando uma funcao q colocara em letra minuscula
small_letter = "Este Texto Deveria Estar Todo Em Lower Case"

In [35]:
def lowercase(text):
    return text.lower()

In [ ]:
lowercased_string = lowercase(small_letter)

### Funcoes str, int, float

In [3]:
# Usando a funcao int para converter o valor digitado  -> sem o int dara um erro pq o input eh uma string e a
# comparacao foi feita com a idade (valor numerico). Diferenca de tipo de dado. Ai converte o int p ter valor numerico
idade = int(input("Digite sua idade: "))
if idade > 13:
    print("Voce pode acessar o software")

Digite sua idade: 14
Voce pode acessar o software

In [4]:
# Converter string p/ valor numerico
int("26")

26

In [6]:
# Converter string p/ valor numerico
float("123.400")

123.4

In [7]:
# Converter valor numerico p/ string
str(14)

'14'

In [10]:
array = ["a", "b", "c", "d", "A", "B", "C", "D"]

In [11]:
array

# O "A" maiusculo eh considerado o min na linguagem

['a', 'b', 'c', 'd', 'A', 'B', 'C', 'D']

In [12]:
max(array)

'd'

In [13]:
min(array)

'A'

In [14]:
list1 = [23, 23, 34, 45]